body {
  margin: 0px;
  font-family: Poppins;
}

header {
  background-color: #000000;
  padding: 10px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.nav1 {
  display: inline-block;
  justify-self: end;
}

.lista1 {
  list-style: none;
  display: flex;
  margin-right: 100px;
  gap: 60px;
}

.lista1 li {
  font-size: 18px;
}

.lista1 li a {
  text-decoration: none;
  color: #fff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #000000;
}

.introducao h1 {
  font-size: 64px;
  color: #fff;
}

.introducao p {
  color: #b2b2b2;
}

.img-itro {
  width: 640px;
  height: 800px;
  overflow: hidden;
}
