.home-lista {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.home-lista img {
  max-width: 100%;
  border-radius: 4px;
}

.lista-bike ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.home-valor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 35px;
}

.home-lista h3 {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0%;
}

.home-lista p {
  margin-left: 20px;
}
